<h1 class="dashboard_head" style="text-align: center">Admin Dashboard</h1>


<div class="d-flex flex-column align-items-center dashboard">
  <p>Total products: </span><%= @product_count %><span></p>

  <p>Total categories: </span><%= @category_count %><span></p>
  <form action="<%= admin_products_path %>">
    <button class="btn btn-success">View and edit products</button>
  </form>
</div>
